<div class="row mt-5">

  <div class="col-md-2 ps-5">
    <form>
      <div class="d-grid gap-2">
        <button class="btn btn-success btn-lg p-3" type="button">PUBLISH AND NOTIFY</button>
      </div>

      <div class="my-4">
        <div class="mb-4">
          <label for="formGroupExampleInput" class="form-label text-uppercase">Schedule</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Default</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="formGroupExampleInput" class="form-label text-uppercase">User</label>
          <select class="form-select" aria-label="Default select example" (change)="onUserSelect($event)">
            <option selected>All</option>
            <option *ngFor="let owner of ownerDataSource" [value]="owner.Id">{{ owner.OwnerText }}</option>
          </select>
        </div>
      </div>

      <hr>

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              View Options
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="mt-3">
                <div class="mb-4">
                  <label for="formGroupExampleInput" class="form-label text-uppercase">view shifts by</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Department</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="mb-4">
                  <label for="formGroupExampleInput" class="form-label text-uppercase">view shift colors by</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Shift</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>



  </div>


  <div class="col-md-10 px-5">

    <div class="control-section">
      <div class="col-lg-12 content-wrapper">

        <ejs-schedule #scheduleObj width="100%" height="550px" [selectedDate]="selectedDate" [views]="views"
          [eventSettings]="eventSettings" [timeScale]="timeScale" [group]="group">
          <e-resources>
            <e-resource field="OwnerId" title="Owner" name="Owners" [dataSource]="ownerDataSource"
              [allowMultiple]="allowMultipleCategory" textField="OwnerText" idField="Id" groupIDField="OwnerGroupId"
              colorField="OwnerColor">
            </e-resource>
          </e-resources>

          <e-views>
            <e-view option="TimelineDay" orientation="Horizontal" displayName="Day">
              <ng-template #resourceHeaderTemplate let-data>
                <div class="owner-container">
                  <img src="assets/user.png" alt="Owner Image" class="owner-image" />
                  <div class="owner-name">{{ data.resourceData.OwnerText}}</div>
                </div>
              </ng-template>
            </e-view>
            <e-view option="TimelineWeek" orientation="Horizontal" displayName="Week">
              <ng-template #resourceHeaderTemplate let-data>
                <div class="owner-container">
                  <img src="assets/user.png" alt="Owner Image" class="owner-image" />
                  <div class="owner-name">{{ data.resourceData.OwnerText }}</div>
                </div>
              </ng-template>
            </e-view>
            <e-view option="Month" orientation="Horizontal" displayName="Month">
              <ng-template #resourceHeaderTemplate let-data>
                <div class="owner-container">
                  <img src="assets/user.png" alt="Owner Image" class="owner-image" />
                  <div class="owner-name">{{ data.resourceData.OwnerText }}</div>
                </div>
              </ng-template>
            </e-view>
          </e-views>
        </ejs-schedule>


      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>